.throwback {
  position: relative;
  background-color: $background-cream;
}

.container {
  height: 90dvh;
  max-width: 1512px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 12.7rem;

  @include media("<=desktop-sm") {
    flex-direction: column;
    padding: 0 2.2rem;
  }
}

.content {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;

  @include media("<=desktop-sm") {
    flex-basis: initial;
  }
}

.title {
  @include text-h3;
  color: $grey-100;
  font-family: $font-akira;
  margin-bottom: 0.8rem;

  @include media("<=desktop-sm") {
    @include text-h5;
  }
}

.description {
  @include text-p3;
  width: 70%;
  color: $grey-100;

  @include media("<=desktop-sm") {
    @include text-p4;
    width: 100%;
  }
}

.buttons {
  position: relative;
  display: flex;
  gap: 1.6rem;
  margin-top: 8rem;

  @include media("<=desktop-sm") {
    flex-direction: column;
    margin-top: 2.8rem;
  }

  &>button {
    position: relative;
    z-index: 1;
  }
}

.road {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 45%;
  overflow: hidden;

  @include media("<=desktop-sm") {
    flex-basis: initial;
  }
}

.lane {
  max-height: 100%;
}

.memory {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top center;
}

.photo {
  @extend .memory;
  width: 150px;
  height: fit-content;

  @include media("<=desktop-sm") {
    width: 100px;
  }
}

.tweet {
  @extend .memory;
  width: 250px;
  height: fit-content;

  @include media("<=desktop-sm") {
    width: 200px;
  }
}