.orbit {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  contain: layout;
}

.svg {
  overflow: visible;
  will-change: transform;
}