@import "tailwindcss";

@utility font-akira {
  font-family: var(--font-custom), sans-serif;
}

@layer utilities {
  .bg-size-70vw {
    background-size: 70vw;
  }

  @media (min-width: 600px) {
    .bg-size-30rem {
      background-size: 30rem;
    }
  }
}


@media (min-width: 1280px) and (max-width: 1300px) {
  .cmf\:gap-10 {
    gap: 1.25 rem;
  }

  .cmf\:left-10 {
    position: absolute;
    left: 4.5rem;
    width: 2rem;
  }
}


@media (min-width: 1303px) and (max-width: 1510px) {
  .mv\:top-10 {
    position: absolute;
    top: 28.5rem;
    left: 77%;
  }

  .cmf\:left-10 {
    position: absolute;
    left: 4.5rem;
    width: 2rem;
  }
}

@media (min-width: 1300px) and (max-width: 1423px) {
  .op\:gap-10 {
    gap: 1.25rem;
  }
}

@media (min-width: 1424px) and (max-width: 1550px){
  .ab\:gap-10{
    gap: 2.35rem
  }
}



@media (min-width: 359px) and (max-width: 374px){
    .sm1\:top-10{
      position: relative;
      top: 70vh;
    }

    .sm1\:min-h-screen{
      height: 85vh;
    }

    .sm1\:top-5{
      top: 10rem;
    }
}


@media (min-width: 413px) and (max-width: 450px){
  .sm2\:h-screen{
    height: 90vh;
  }

  .sm2\:top-20{
    top:70vh;
  }

}



html {
  font-size: 16px;
}

.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
}

/* *{
    outline: 1px solid red;
} */