// Fonts
$font-akira: var(--font-akira);
$font-inter: var(--font-inter);

// COLORS
// Background
$background-cream: #fcf6df;
$background-white: #ffffff;
$background-dark: #1e1e1e;

// Grey Scale
$grey-0: #ffffff;
$grey-10: #e6e6e6;
$grey-20: #cccccc;
$grey-30: #b3b3b3;
$grey-40: #9a9a9a;
$grey-50: #808080;
$grey-60: #666666;
$grey-70: #4d4d4d;
$grey-80: #333333;
$grey-90: #1c1c1c;
$grey-100: #141414;

// Secondary Colors
$secondary-blue: #4285f4;
$secondary-yellow: #f6b51e;
$secondary-green: #34a853;
$secondary-red: #ea4335;
$secondary-light-green: #81c995;
$secondary-light-yellow: #fde293;
$secondary-light-red: #f28b82;
$secondary-light-blue: #8ab4f8;

// Pastel Colors
$pastel-green: #ccf6c5;
$pastel-yellow: #ffe7a5;
$pastel-red: #f8d8d8;
$pastel-blue: #c3ecf6;
