.footer {
  width: 100%;
  position: relative;
  background-color: $background-cream;
}

.container {
  position: relative;
  max-width: 1512px;
  margin: 0 auto;
  padding: 21rem 6.4rem 5.9rem;

  @include media("<=desktop-sm") {
    padding: 8.1rem 2rem 4.8rem;
  }
}

.globe {
  position: absolute;
  top: 10.5rem;
  right: 4.5%;
  width: 17.7rem;
  height: 17.7rem;

  @include media("<=desktop-sm") {
    top: 2.8rem;
    right: 2rem;
    width: 10.9rem;
    height: 10.9rem;
  }
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $grey-100;
  font-family: $font-akira;
  font-size: 12.8rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 14.7rem;
  leading-trim: both;
  text-edge: cap;

  @include media("<=desktop-sm") {
    @include text-h2;
  }
}

.cta {
  display: inline-flex;
  width: 25.8rem;
  margin-left: 10rem;
  text-transform: uppercase;

  @include media("<=desktop-sm") {
    display: none !important;
  }
}

.nowrap {
  white-space: nowrap;

  @include media("<=desktop-sm") {
    white-space: normal;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-top: -4.5rem;

  @include media("<=desktop-sm") {
    flex-direction: column-reverse;
    margin-top: 2.8rem;
    row-gap: 2.6rem;
  }
}

.left {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 8rem;
  row-gap: 6rem;

  @include media("<=desktop-sm") {
    grid-template-rows: repeat(3, 1fr);
    padding-top: 0;
    row-gap: 2.6rem;
  }
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.link {
  @include text-p3;
  color: $grey-100;
  text-decoration: none;
  text-underline-offset: 2px;

  &:hover {
    text-decoration: underline;
  }
}

.socialSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include media("<=desktop-sm") {
    grid-column: 1 / 2;
    grid-row: 3;
  }
}

.socialHeading {
  @include text-l3;
  color: $grey-100;
}

.socialIcons {
  display: flex;
  gap: 2.4rem;
}

.socialLink {
  width: 5rem;
  height: 5rem;
}

.right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media("<=desktop-sm") {
    flex-basis: 100%;
  }
}

.mobileCta {
  display: none !important;
  margin-bottom: 1.6rem;

  @include media("<=desktop-sm") {
    display: inline-flex !important;
  }
}

.image {
  height: auto;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.desktopImage {
  @extend .image;

  @include media("<=desktop-sm") {
    display: none;
  }
}

.mobileImage {
  @extend .image;
  display: none;
  margin-top: -5.2rem;

  @include media("<=desktop-sm") {
    display: block;
  }
}

.copyright {
  @include text-l3;
  text-align: center;
  color: $grey-100;
  margin-top: 7.2rem;
}
