.navbarBackground{
  background-color: $background-dark;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
    height: 7.2rem;
    width: 100vw;
    background-color: $background-dark;
    position: relative;

    @include media("<=1000px") {
        padding: 0 20px;
    }

    .logo{
        border-radius: 4rem;
        padding: 12px;
        background: $background-white;
    }

    .links{
        padding: 6px 8px;
        border-radius: 40px;
        background: $background-white;
        display: flex;
        align-items: center;
        column-gap: min(3.75vw, 56px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include media("<=1000px") {
            column-gap: 10px;
        }

        @include media("<=800px") {
            display: none;
        }

        .link{
            padding: 2px 16px;
            height: 36px;
            display: flex;
            align-items: center;
            @include text-h7;
            color: $grey-100;
            border-radius: 40px;

            &:hover {
                &.schedule {
                    background-color: rgba($pastel-yellow, 0.4);
                }

                &.speakers {
                    background-color: rgba($pastel-blue, 0.4);
                }

                &.faqs {
                    background-color: rgba($pastel-red, 0.4);
                }

                &.team {
                    background-color: rgba($pastel-green, 0.4);
                }
            }

            &.active {
                &.schedule {
                    background-color: $pastel-yellow;
                }

                &.speakers {
                    background-color: $pastel-blue;
                }

                &.faqs {
                    background-color: $pastel-red;
                }

                &.team {
                    background-color: $pastel-green;
                }
            }
        }
    }

    .buyTicket{
        @include media("<=800px") {
            display: none;
        }
    }

    .mobileNavButton{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        padding: 0;

        @include media(">800px") {
            display: none;
        }
    }
}

.mobileNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-dark;
    z-index: 3;
    display: none;
    padding: 0 20px 64px;

    &.open{
        display: flex;
        flex-direction: column;
    }

    .topRow{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7.2rem;
        width: 100%;
        margin-bottom: 6rem;
    }

    .logo{
        border-radius: 4rem;
        padding: 12px;
        background: $background-white;
    }

    .mobileNavClose{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        padding: 0;
    }

    .links{
        display: grid;
        row-gap: 48px;

        .link{
            @include text-h5;
            color: white;

            &.active{
                color: $pastel-blue;
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }
    }

    .buyTicket{
        margin-top: auto;
        width: 100%;
    }
}
