.speakers{
    padding: 56px 50px 90px;
    position: relative;

    @include media("<=800px") {
        padding: 60px 24px 75px;
    }

    .header{
        padding: 58px 50px;
        background-color: $background-white;
        border-radius: 12px;
        position: relative;
        margin-bottom: 32px;

        @include media("<=800px") {
            padding: 32px 20px;
        }

        .content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 22px;

            @include media("<=800px") {
                flex-direction: column;
                align-items: start;
                row-gap: 12px;
            }
        }

        .learnListenIcon{
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
            width: 21.2rem;

            @include media("<=800px") {
                width: 13.6rem;
            }
        }

        .title{
            @include text-h1;
            color: $background-dark;
            margin-bottom: 2px;

            sup{
                vertical-align: super;
                font-size: 4rem
            }

            @include media("<=800px") {
                @include text-h5;

                sup{
                    font-size: 2rem;
                }
            }
        }

        .description{
            @include text-p3;
            color: $grey-100;
            max-width: 694px;

            @include media("<=800px") {
                @include text-p4
            }
        }

        .controlButtons{
            display: flex;
            align-items: center;
            column-gap: 32px;
        }
    }

    .carousel{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 32px;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .speakerLaptop{
        position: absolute;
        bottom: 30px;
        right: 70px;
        width: 126px;
        height: auto;

        @include media("<=800px") {
            width: 96px;
        }
    }
}
