.schedulePage {
  min-height: 100vh;
  background: $background-dark;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
  background: $background-dark;
  flex-direction: column-reverse;

  @include media(">tablet") {
    padding: 7.6rem 2rem;
  }

  @include media(">desktop") {
    padding: 7.6rem 2rem;
    flex-direction: row;
  }
}

.heroTitle {
  @include text-h5;
  color: $background-white;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-weight: 900;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  @include media(">tablet") {
    gap: 1.5rem;
    @include text-h1;
  }

  @include media(">desktop") {
    font-size: 5rem;
    gap: 2rem;
    margin-top: 8rem;
  }
}

.fiveDaysIcon {
  height: auto;
  margin-left: -2rem;
  width: 75px;


  @include media(">desktop") {
    width: 150px;
    margin-left: -5rem;
  }
}

.dateAndLocationWrapper{
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;

  @include media(">tablet") {
    gap: 2rem;
    margin-top: 2rem;
    flex-direction: row;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  @include media(">desktop") {
    padding: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    flex-direction: row;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.arrow{
        height: auto;
        max-width: 119px;

        @include media("<=800px") {
            display: none;
        }
    }

.mobileArrow{
        @include media(">800px") {
            display: none;
        }
      }

.dateAndLocation{
        background-color: $pastel-blue;
        display: flex;
        column-gap: 10px;
        align-items: center;
        justify-content: center;
        @include text-p01;
        color: $grey-100;
        flex-grow: 1;
        height: 60px;
        border-radius: 36px;

        @include media("<=800px") {
            padding: 0 8px;
            column-gap: 4px;
            width: 100%;
            @include text-p4;
        }

    &.first{
           background-color: $pastel-blue;
        }

        &.second{
           background-color: $pastel-yellow;
        }
  }
