.speaker{
    background-color: $background-dark;
    width: 320px;
    flex-shrink: 0;

    .imageWrapper{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        position: relative;
        margin-bottom: 4px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 308px;

        .image{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: 0 auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .info{
        padding: 20px 20px 16px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: $background-white;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .name{
            @include text-h6;
            color: $grey-100;
            margin-bottom: 4px;
        }

        .tagline{
            @include text-p4;
            margin-bottom: 24px;
            color: $grey-90;
        }

        .bioContent{
            flex-grow: 1;
            display: flex;
            flex-direction: column
        }

        .description{
            @include text-p4;
            margin-bottom: auto;
            color: $grey-90;
        }

        .socialMediaLinks{
            display: flex;
            column-gap: 16px;
            align-items: center;
        }

        .socialMediaLink{
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-dark;
            border-radius: 6px;
        }
    }



    &.reduceHeightOnMobile{
        @include media("<=phone"){
            .info{
                padding: 12px;

                .name{
                    font-size: 10px;
                    margin-bottom: 2px;
                    line-height: 1.5;
                }

                .tagline{
                    font-size: 9px;
                    margin-bottom: 12px;
                }

                .description{
                    font-size: 10px;
                    margin-bottom: auto;
                    line-height: 1.25;
                }

                .socialMediaLink{
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}
